body {
	margin: 0;
	height: 100%;
	overflow: hidden;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
}
#ocean {
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(#046a79, #045c7c, #0d324e);
	/* background: linear-gradient(#DAF4FB, #B1DCE4, #8BBDC7); */
}

canvas {
	width: 100%;
	height: 100%;
	display: block;
}

.header {
	opacity: 0.75;
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
	top: 0;
	left: 0;
}

